{% extends "base.html" %}

{% block content %}
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipt_set.count }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No categories found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_category' %}">New Expense Category</a>
</main>
{% endblock %}
